<div class="user_show">
  <%= @name %>さんの投稿一覧
</div>
<div class="Main">

  <%= render 'follow_form' %>
  <%= render 'stats' %>


  <% @events.each do |event| %>
    <%= render partial: "events/event", locals: { event: event } %>
  <% end %>
</div>

<%= render partial: "calender", locals: { events: @events } %>

<a href="#" id="btn_scroll_top"></a>