<div class="Main">
  <div class="User">
    <div class="User__Profile">
      <div class="User__Profile__Img">
      <img src="<%= @user.image %>" class="User__Profile__Img">
      </div>
      <div class="User__Profile__Name">
      <%= @user.name %>
      </div>
      <div class="User__Profile__Info">
        <div class="User__Profile__Info__Date">
        <%= @user.name %>さんは<%= l @user.created_at , format: :veryshort%>から利用しています
        </div>
        <div class="User__Profile__Info__Follow">
          <%= render 'follow_form' %>
          <%= render 'stats' %>
        </div>
      </div>
    </div>
  </div>
  
  <ul class="tab">
	<li class="select">記録</li>
	<li>いいね</li>
   <% if user_signed_in? %>
      <% if current_page?(current_user) && current_page?(controller: 'users', action: 'show') %>
        <li>カレンダー</li>
      <% end %> 
    <% end %> 
  </ul>

  <ul class="content">
    <li>
    <div class="event-list">
    <% @events.each do |event| %>
      <%= render partial: "events/event", locals: { event: event } %>
    <% end %>

    </li>
    <li class="hide">
      <% @user.liked_events.each do |event| %>
        <%= render partial: "events/event", locals: { event: event } %>
      <% end %>
    </li>
    <li class="hide">
      <%= render partial: "calender", locals: { events: @user_events } %>
    </li>
  </ul>
  
</div>

<a href="#" id="btn_scroll_top"></a>