<%= link_to "/records/#{record.id}", class: "show-link", method: :get do %>
  <div class="Content">
    <div class="Content__MyImg">
      <img src="<%= 
      record.user.image if record.user.image.present? %>" class="Content__MyImg">
    </div>
    <div class="Content__Body">
      <div class="Content__Body__Info">
        <div class="Content__Body__Info__Name"><%= record.user.name %></div>
        <div class="Content__Body__Info__Date">
          <%= l record.created_at , format: :short %>
        </div>
      </div>
      <div class="Content__Body__TextField">
        <%= simple_format(record.text) %>
        <img src="<%= record.image if record.image.present? %>">
      </div>
    </div>
  </div>
<% end %>