<div class ="show">
  <div class="Content">

    <%= link_to  "/users/#{@record.user_id}" , class: "Content__MyImg"  do %>
      <div class="Content__MyImg">
        <%= image_tag "test_image.jpg", alt: "icon", id: "assets", class: "Content__MyImg" %>
      </div>
    <% end %>

    <div class="Content__Body">
      <div class="Content__Body__Info">
        <div class="Content__Body__Info__Name"><%= @record.user.name %></div>
        <div class="Content__Body__Info__Date">
          <%= l @record.created_at %>
        </div>
      </div>
    </div>
  </div>

  <div class="Content__Text">
    <%= simple_format(@record.text) %>
    <% if user_signed_in? && current_user.id == @record.user_id %>
        <%= link_to '削除', "/records/#{@record.id}", method: :delete %>
      <% end %>
    
  </div>

</div>