<%= link_to "/events/#{event.id}", class: "show-link", method: :get do %>
  <div class="Content">
    <div class="Content__MyImg">
      <img src="<%= 
      event.user.image %>" class="Content__MyImg">
    </div>
    <div class="Content__Body">
      <div class="Content__Body__Info">
        <div class="Content__Body__Info__Name"><%= event.user.name %></div>
        <div class="Content__Body__Info__Date">
          投稿日時：<%= l event.end_date , format: :short %>
        </div>
      </div>
      <div class="Content__Body__TextField">
        <%= event.title %>
        <%= simple_format(event.body) %>
        <img src="<%= event.image if event.image.present? %>">
      </div>
    </div>
    <%# いいね %>
    (<%= event.liked_users.count %>)
  </div>
<% end %>