<div class="NewRecord＿Box">
  <%= form_with(model: event, local: true) do |f| %>
    <% if event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
            <% event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :"記録タイトル ※必須" %>
          <%= f.text_field :title, placeholder: "どんなトレーニングをしましたか？",class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :"トレーニングメモ" %>
          <%= f.text_area :body,class: "form-control", placeholder: "トレーニングでの気づきを書こう" %>
        </div>

        <div class="field">
          <%= f.file_field :image, placeholder: "Image", id: "image",class: "form-control-file" %>
        </div>


      <div class="d-flex justify-content-between">
      <%= link_to_add_association 'メニュー追加', f, :menus,
        class: 'btn btn-success  ml-1 p-1',
        data: {
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'append' }
      %>
      <%= link_to '新規メニュー登録', new_menu_select_path, class: "btn btn-primary text-right" %>
      </div>
      <div class="form-group" id='detail-association-insertion-point'>
        <%= f.fields_for :menus do |menu| %>
          <%= render 'menu_fields', f: menu %>
          
        <% end %>
      </div>


    <div class="Date_form">
      <div class="field mr-5">
        <%= f.label :"開始日" %>
        <%= f.datetime_select :start_date %>
      </div>

      <div class="field">
        <%= f.label :"終了日" %>
        <%= f.datetime_select :end_date %>
      </div>
    </div>
    <div class="input">
      <%= f.submit "WORK OUTを保存" , id: "Newrecord", class: "btn btn-success"%>
    </div>
  <% end %>
</div>



