<div class="nested-fields menus">
  <%= f.hidden_field :id %>

  <%= f.collection_select :name, MenuSelect.all, :menu_name, :menu_name, prompt: "種目名を選択", class: 'form-control' %>

  <%= link_to_remove_association '削除', f, class: 'btn btn-danger btn-sm' %>
  <%= link_to_add_association 'セット追加', f, :menu_sets,
    class: 'btn btn-success p-0',
    data: {
      data_association_insertion_traversal: 'closest',
      association_insertion_method: 'append' }
    %>


  <div>
    <%= f.fields_for :menu_sets do |menu_set| %>
      <%= render 'menu_set_fields', f: menu_set %>
    <% end %>
  </div>
</div>