<div class ="Show">
  <div class="Content">

    <%= link_to  "/users/#{@event.user_id}" , class: "Content__MyImg"  do %>
      <div class="Content__MyImg">
        <img src="<%= @event.user.image %>" class="Content__MyImg">
      </div>
    <% end %>

    <div class="Content__Body">
      <div class="Content__Body__Info">
        <div class="Content__Body__Info__Name"><%= @event.user.name %>
        </div>
        <div class="Content__Body__Info__Date">
          投稿日時：<%= l @event.created_at %><br>
          開始日時：<%= l @event.start_date %><br>
          終了日時：<%= l @event.end_date %>
        </div>
        <div class="Content__Body__Info__Option">
           <% if user_signed_in? && current_user.id == @event.user_id %>
              <%#= link_to '編集', "/events/#{@event.id}/edit" %> 
              <%= link_to '削除', "/events/#{@event.id}", method: :delete %>
           <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="Show__Main">
    <div class="Show__Main__Title">
      <h1><%= @event.title %></h1>
    </div>
    <div class="Show__Main__Body">
      <%= simple_format(@event.body) %>
    </div>

    <div class="Show__Main__Menu">
      <% @event.menus.each do |menu| %>
        <div class="mb-4  border-bottom">
          <h2 class="mb-2"><%= menu.name %></h2>

          <% menu.menu_sets.each do |menu_set| %>
            <%  if menu_set.number.present? %>  
              <%= menu_set.number %><%= menu_set.number_unit %>×
            <% end %>
            <%  if menu_set.rep.present? %>  
              <%= menu_set.rep %><%= menu_set.rep_unit %>
              /
            <% end %>
          <% end %>

        </div>
        <% end %>
    </div>

    <div class="Show__Main__Img">
      <img src="<%= @event.image if @event.image.present? %>">
    </div>
  </div>
  <%# いいね %>
  <div class="Show__Like">
    <h3>いいね数: <%= @event.likes.count %></h3>
    <% if current_user.already_liked?(@event) %>
      <%= button_to 'いいねを取り消す', event_like_path(@event), method: :delete %>
    <% else %>
      <%= button_to 'いいね', event_likes_path(@event) %>
    <% end %>
    <h2>いいねしたユーザー</h2>
    <% @event.liked_users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </div>
  <%# いいね %>
  <div class="comments">
      <% if @comments %>
        <% @comments.each do |comment| %>
          <%= render partial: "comment", locals: { comment: comment } %>
        <% end %>
      <% end %>
    </div>
  <div class="container comment-form">
      <%= form_with(model: [@event, @comment]) do |f| %>
        <%= f.text_area :text, placeholder: "コメントする", rows: "1" , class: "form-control"%>
        <%= f.submit "コメント送信" , class: "btn btn-outline-success btn-block mt-2" %>
    <% end %>
  </div>
</div>