<div class="start">
    <%= image_tag "WONロゴ1.png", size: '500x500',id: "start-logo" %>
</div>
<div class="wrapper body-inverse"> <!-- wrapper -->
    <div class="row d-flex align-items-center mr-5 ml-5">
    <!-- Sign in form -->
    
    <div class="col-sm-7">
    <%= image_tag "WONロゴ1.png", size: '600x600' %>
    </div>
    <div class="col-sm-5 bg-light p-5 rounded">
    <div class="form-white">
      <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :"メールアドレス" %>
          <%= f.email_field :email, class: "form-control", id: "email1", placeholder: "Enter email" %>
        </div>
        <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
          <%= f.label :"パスワード入力" %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "password1", placeholder: "Password" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <% if devise_mapping.rememberable? %>
            <div class="field">
            <%= f.label :remember_me %>
            <%= f.check_box :remember_me %>
          </div>
        </div>
      <% end -%>
        </div>
        </div>
        <div class="actions">
          <%= f.submit "ログインする",class: " btn btn-block btn-primary btn-xxl" %>
        </div>
      <% end %>
      アカウントをお持ちでない方は
      <%= link_to 'アカウント新規作成', new_user_registration_path,class: " btn btn-block  btn-success btn-xxl" %>
    </div>
    </div>
  </div>
</div> <!-- / wrapper -->